@font-face {
  font-family: 'Do Hyeon';
  src: local('Do Hyeon'),
  url(../assets/DoHyeon-Regular.woff) format("woff")
}

html, body {
  font-family: 'Do Hyeon', sans-serif!important;
}

/* ------------------------------------------------------------------------- */

.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
.cal-weekday,
.cal-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding: 0;
}
.cal-btn:not([disabled]) {
  font-weight: 500;
}

.cal-btn[disabled] {
  opacity: .5;
}
.cal-weekdays {
  border-bottom: 1px solid;
}

.badge-month {
  font-weight: lighter!important;
  font-size: 18px!important;
}

.badge-holiday {
  font-weight: lighter!important;
  font-size: 14px!important;
}

/* ------------------------------------------------------------------------- */

.h-210p {
  height: 210px!important;
}
